
.videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 16px;
    row-gap: 40px;
}

.thumbnail{
    width: 100%;
}
.topBar-container{
    display: block;
}
.topBar-container {
    margin-bottom: 10px;
}
.video-title {
    margin-top: 0;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 0;
}
.video-author
{
    font-size: 14px;
    color: #606060;
    margin-top: 10px;
}
.video-stats {
    font-size: 14px;
    color: #606060;
    margin-top: 5px;
}
.no-style-link {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent element (in this case, the same color as the <p> text) */
  }
  


.video-icon {
    display: inline-block; /* Keep the icon inline */
    width: 50px; /* Icon width */
    vertical-align: top; /* Align the icon to the top */
}

.video-info {
    display: flex; /* Flexbox layout */
    align-items: flex-start; /* Aligns the items at the top */
}

.channel-pic {
    border-radius: 50%; /* For a circular image */
    width: 40px; /* Fixed width for the icon */
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.video-right-info {
    flex: 1; /* Take up the remaining space */
    padding-left: 10px; /* Add some spacing between the icon and the text */
}

    