.header {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 0;
    justify-content: space-between;
}
.right-content{
    width: 200px;
    display: flex;
    align-items: center;
}

.mid-content{
    display: flex;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;

}
.left-content{
    display: flex;
    align-items: center;
}
.humberger
{
    height: 25px;
    padding-bottom: 5px;
}
.youtube
{
    height: 22px;
    margin-left: 25px;
    margin-right: 20px;
    padding-bottom: 5px;
}
.search-engine {
    flex: 1;
    height: 34px;
}
.search-button {
    height: 40px;
    width: 60px;
    background-color: lightcoral;

}
.mic {
    height: 40px;
    width: 60px;
    border-radius: 50px;
    background-color: red;
    margin-left: 10px;

}