p {
    font-family: Roboto, Arial;
    margin: 0;
}
.videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.thumbnail{
    width: 100%;
}
.topBar-container{
    display: block;
}
.topBar-container {
    margin-bottom: 10px;
}
.video-title {
    margin-top: 0;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 0;
}
.video-author
{
    font-size: 14px;
    color: #606060;
    margin-top: 10px;
}
.video-stats {
    font-size: 14px;
    color: #606060;
    margin-top: 5px;
}
.no-style-link {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent element (in this case, the same color as the <p> text) */
  }
  
.video-info {
    
    vertical-align: top; /* Align the video info to the top */
    margin-top: 10px;
    
}

.video-icon {
    display: inline-block; /* Keep the icon inline */
    width: 50px; /* Icon width */
    vertical-align: top; /* Align the icon to the top */
}

.channel-pic {
    border-radius: 50%; /* Use percentage for a perfect circle */
    width: 40px; /* Icon width */
    vertical-align: top; /* Ensure the channel pic aligns at the top */
}

.video-right-info {
    display: inline-block; /* Keep it inline */
    width: 200px; /* Optional: fixed width */
    vertical-align: top; /* Align the text info to the top */
}
    