.video-container {
    width: 300px;
    margin-right: 15px;
    vertical-align: top;
    display: inline-block;
}
.thumbnail{
    width: 300px;
}
.topBar-container{
    display: block;
}
.topBar-container {
    margin-bottom: 10px;
}